.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
  animation: fadeIn 1s ease;
  overflow: hidden;

  &--main {
    background: url("../../assets/img/bg.jpg") center 10%/cover no-repeat;
  }

  &--contact {
    min-height: calc(100vh - 172px);
    background: url("../../assets/img/bg.jpg") center 10%/cover no-repeat;
  }

  &--apartments {
    min-height: 50vh;
    background: url("../../assets/img/apBg.jpg") center center/cover no-repeat;
  }

  &--single-apartment {
    min-height: 60vh;
  }
}

