.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  color: $color-white;
  background: $color-primary;
  font-weight: 300;
  letter-spacing: $spacing-main;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  transition: $transition-main;
  cursor: pointer;

  &:hover {
    background: darken($color-primary, 10%);
  }

  &--white {
    border: 1px solid $color-white;
    color: $color-black;
    background: $color-white;

    &:hover {
      color: $color-white;
      background: transparent;
    }
  }

  &--transparent {
    border: 1px solid $color-white;
    color: $color-white;
    background: transparent;

    &:hover {
      color: $color-primary;
      background: $color-white;
    }
  }
  @media screen and (min-width: 768px) {
    font-size: 1.2rem;
  }
}
