.hamburger {
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;

  &:focus {
    outline: none;
  }

  &__bars {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    overflow: hidden;
  }

  &__bar {
    position: absolute;
    width: 1.5rem;
    border: 2px solid $primaryColor;
    right: 0;
    transition: 0.4s cubic-bezier(0.8, 1.61, 0.25, 1);
    border-radius: 2px;

    &--top {
      top: 0;
      width: 0.7rem;
    }

    &--mid {
      top: 50%;
      transform: translateY(-50%);
      width: 1.1rem;
    }

    &--bottom {
      bottom: 0;
    }
  }

  &--clicked {
    .hamburger__bar {
      &--top {
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
        width: 1.2rem;
      }

      &--mid {
        transform: translate(-200%, -50%);
      }

      &--bottom {
        bottom: 50%;
        transform: translateY(50%) rotate(45deg);
        width: 1.2rem;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}
