.hero {
  min-height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 1s ease;
  overflow: hidden;

  &--main {
    background: url("../assets/img/bg.jpg") center 10%/cover no-repeat;
  }

  &--apartments {
    background: url("../assets/img/apBg.jpg") center center/cover no-repeat;
    min-height: 50vh;
  }

  &--single-apartment {
    min-height: 60vh;
  }
}

