.modal {
  position: fixed;
  background: rgba(0,0,0,.8);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 1rem;

  &__main-image {
    width: 100%;
    margin-bottom: 1rem;
  }

  &__images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }

  &__image {
    width: 100%;
    transition: $transition-main;
    cursor: pointer;

    &--selected {
        filter: brightness(45%);
      }  
  }

  &__btn {
    display: block;
    margin: 1rem auto;
  }
}

@media (orientation: landscape) {
  .modal {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;


    &__main-image {
      width: 70%;
    }

    &__images {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    &__image {
      width: 50%;
      margin: .5rem;
    }

    &__btn {
      position: absolute;
      bottom: 4%;
    }
  }
}

@media screen and (min-width: 768px) {
  .modal {
    padding: 10%;
  }
}


