.section-title {
  margin-bottom: 4rem;
  text-align: center;
  color: $color-white;

  &__title {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: $spacing-main;
    text-transform: uppercase;
  }

  &__separator {
    width: 5rem;
    height: 5px;
    margin: 0 auto;
    background: $color-primary;

    &--alternate {
      background: $color-black;
    }
  }
}

