.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 0.75rem 1rem;
  background: $color-black;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
  }

  &__logo {
    height: 3.5rem;
  }

  &__nav-list {
    height: 0;
    overflow: hidden;
    transition: $transition-main;
    list-style-type: none;

    @media screen and (min-width: 768px) {
      display: flex;
      height: auto;
    }

    &--show-nav {
      height: 100px;
    }
  }

  &__nav-link {
    display: block;
    padding: 1rem 0;
    color: $color-white;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: $spacing-main;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: $transition-main;

    &:hover {
      color: $color-primary;
    }

    @media screen and (min-width: 768px) {
      margin-left: 5rem;
      padding: 0.5rem 0;
    }
  }
}

.nav-container {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
  }
}
