.main-footer {
  position: relative;
  padding: 2rem;

  &__text {
    color: $color-white;
    letter-spacing: $spacing-main;
    text-align: center;
  }

  &__back-to-top {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: auto;
    padding: .5rem;
    border: none;
    color: #656565;
    background: transparent;
    text-align: center;
    font-size: 1.1rem;
    outline: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent; 
  }
}

